.background_transaction{
    background-color: whitesmoke;
}
.itemname{
    text-transform: capitalize;
}
.d-inlineflex{
    display: inline-flex;
  }
  .cents {
    font-size: 0.7em;
    position: relative;
    bottom: 0.25em;
  }